* {
    font-weight: bolder;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("img1.jpeg");
    padding: 20px;
    text-align: center;
    color: #256033;
}

.container {
    background: rgba(255, 255, 255, 0.799);
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.buttons {
    margin-bottom: 20px;

}

button {
    padding: 10px 20px;
    margin: 20px;
    border: none;
    
    border-radius: 50px;
    background-color: #256033;
    color: white;
    cursor: pointer;

}

input {
    padding: 10px;
    color:#256033;
    text-align: center;
    margin: 10px;
    width: 200px;
    border-radius:20px ;
    border-color:#00ff3c ;
}

.result {
    margin-top: 20px;
}


.footer {
    color: white;
    width: 100%;
    font-weight: bolder;
    background-color: #25603394;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}
.footer a{
    text-decoration:underline;
    color: rgb(133, 147, 219);
}
